DB_DIALECT=sqlite
DB_STORAGE=:memory:
DB_USERNAME=nocobase
DB_PASSWORD=nocobase
DB_DATABASE=nocobase
DB_TIMEZONE=+00:00

PLUGIN_STORAGE_TYPE=local
LOCAL_STORAGE_DEST=storage
APP_PORT=13000
API_BASE_PATH=/api/
PLUGIN_COLLECTION_MANAGER_COLLECTION_SORT=true
PLUGIN_USERS_INIT_PASSWORD=admin123
PLUGIN_USERS_SUPER_EMAIL=admin@nocobase.com
PLUGIN_USERS_SUPER_PASSWORD=admin123
INIT_APP_LANG=en-US
INIT_ROOT_EMAIL=admin@nocobase.com
INIT_ROOT_PASSWORD=admin123
INIT_ROOT_NICKNAME=Super Admin
ENABLE_DYNAMIC_YIELD=true